<!DOCTYPE html>
<html>
<head>
  <title>Camaras</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">        
		<%= render 'layouts/header' %>
		<div class="content">
			<div class="row">
				<div class="span8">
					<%= render 'layouts/messages' %>
					<%= yield %>
				</div>
			</div>                     
		</div>
		<%= render 'layouts/footer' %>
	</div> <!--! end of .container -->
</body>
</html>
